* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background:
        linear-gradient(
            #74d7ff 0%,
            #74d7ff 65%,
            #7bd66f 65%,
            #7bd66f 100%
        );
}

.game {
    width: 95%;
    max-width: 700px;
}

.screen {
    background: white;

    border: 5px solid #222;
    border-radius: 25px;

    padding: 30px;

    text-align: center;

    box-shadow:
        0 10px 0 #222;
}

.hidden {
    display: none;
}

h1 {
    font-size: 42px;
    color: #ff7b00;
}

input {
    width: 90%;

    padding: 15px;

    margin: 20px 0;

    border: 3px solid #333;
    border-radius: 12px;

    font-size: 18px;
}

button {
    width: 100%;

    padding: 16px;

    margin: 8px 0;

    border: 3px solid #222;
    border-radius: 15px;

    background: #ffd43b;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.15s;
}

button:hover {
    transform: translateY(-3px);

    background: #ffb703;
}

button:active {
    transform: translateY(2px);
}

.topbar {
    display: flex;
    justify-content: space-between;

    font-size: 20px;
    font-weight: bold;

    margin-bottom: 15px;
}

.character {
    font-size: 80px;
}

.question-box {
    background: #eef7ff;

    border: 3px solid #333;

    border-radius: 15px;

    padding: 10px 20px;

    margin: 20px 0;
}

.answers button {
    text-align: left;

    background: #fff;
}

.answers button.correct {
    background: #55efc4;
}

.answers button.wrong {
    background: #ff7675;
}

#feedback {
    font-size: 22px;
    font-weight: bold;

    min-height: 30px;
}

.result-character {
    font-size: 100px;
}

.final-score {
    font-size: 70px;
    font-weight: bold;

    color: #ff7b00;
}

#hasilPesan {
    font-size: 20px;
}
